<div class="center jumbotron">
  <h1>RoR IoT Tutorial</h1>

  <h2><p>A Ruby on Rails tutorial for Internet-of-Things server applications</p></h2>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
