<footer class="footer">
  <small>
    The Ruby on Rails IoT Tutorial by <a href="http://sns.i2r.a-star.edu.sg/" target="_blank"><em>A*STAR Sense & Sensibilities</em></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
    </ul>
  </nav>
</footer>
